<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="google" content="notranslate">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./assets//style.css">
  <link rel="stylesheet" href="./src/main.css">
  <script src="./src/vue.js"></script>
  <title>Потерянная душа</title>
</head>
<body>
  <div id="root">
    <div class="container text-center" v-if="containerStatus" v-bind:id="containerStatus2 ? 'ani-end' : ''">
      <img src="./assets//02.jpg" alt="error" class="default-img publicToTop">
      <h3 class="mt-20 publicToTop delay-1 title">Привет, аллигатор</h3>
      <p class="desc publicToTop delay-2">Программирование потерянной души.</p>
      <div class="button button-1 mt-20 publicToTop delay-3" v-on:click="showCont2">Начать поиск</div>
    </div>
    <!-- containerStatus2 -->
    <div class="container-2 publicShow flex-c-center" v-if="containerStatus3">
      <div class="cont-content">
        <div class="bottom-bar">
          <div class="item" v-bind:id="rotatePhoto"></div>
          <div class="item" v-bind:id="rotatePhoto"></div>
          <div class="item" v-bind:id="rotatePhoto"></div>
        </div>
        <div class="mask-card" v-bind:id="rotatePhoto">
          <div class="inset-mask publicShow">
            <p>青虹生风 惮赫千里</p>
            <p class="desc gray ml-10">Синяя радуга поднимает ветер</p>
          </div>
        </div>
        <div class="text-center w-400">
          <div class="title font-big white">短吻鳄 Аллигатор</div>
          <div class="desc font-middle gray mt-20">短吻鳄-Аллигатор是一个自制的艺术展览平台，在这里你会看到来自世界各地的自由艺术成品</div>
          <div class="button" @click="showCont3">点击继续</div>
        </div>
      </div>
    </div>
    <!-- containerStatus3 -->
    <div class="container-3 publicShow" v-if="nextJD">
      <div class="image-list">
        <div class="image-item delay-4 publicToTop"></div>
        <div class="image-item delay-5 publicToTop"></div>
        <div class="image-item delay-6 publicToTop"></div>
        <div class="image-item delay-7 publicToTop"></div>
      </div>
      <div class="text text-center">
        <div class="title white font-big publicToTop delay-8">殿堂大师-Petra Eriksson</div>
        <div class="mt-20 gray  publicToTop delay-9">Petra 出生于斯德哥尔摩，现居住在巴塞罗那，在进入自由插画世界之前，她曾在著名的伯格斯传播学院学习平面设计。 Petra 主要在 Adob​​e工作，她在创作中，经常使用大胆的色彩点缀抽象的构图，这已成为她的标志性风格。她尤其以女性肖像画而闻名。</div>
        <div class="button mt-40  publicToTop delay-10" @click="openContainer4">点击继续预览</div>
      </div>
    </div>
    <!-- containerStatus4 -->
    <div class="container-4 publicShow" v-if="containerStatus4">
      <div v-bind:class="`j-list ${ item.type }`" v-for="item of jList">
        <div v-for="subitem of item.data" v-bind:class="`j-item ${ item.fir }`" v-bind:style="`background-image: url(./assets/3/${ subitem }.jpg); animation-delay: ${ subitem / 10 }s`">
        </div>
      </div>
      <div class="mask-bottom-text publicShow delay-20">
        <div class="text-center">
          <div class="title white font-big publicToTop delay-26">Alex Asfour</div>
          <div class="desc gray publicToTop delay-24 mt-5">亚历克斯是一位设计师和插画家。他对艺术、旅游和设计都充满热情。</div>
          <div class="button mt-40 publicToTop delay-22" data-attr="cont5" @click="publicOpenNext">Начать путешествие</div>
        </div>
      </div>
    </div>
    <!-- containerStatus5 -->
    <div v-bind:class="`container-5 public-mask ${ cont5 }`" v-if="cont5">
      <div class="w-100 text-center">
        <div class="title white font-big publicToTop delay-6">
          <span>Svitlana</span>
          <span class="red">Harkusha</span>
        </div>
        <div class="banner-list mt-40">
          <div class="banner-item publicShow delay-8">
            <div class="banner-item-inset"></div>
          </div>
          <div class="banner-item publicShow delay-9">
            <div class="banner-item-inset"></div>
          </div>
          <div class="banner-item publicShow delay-10">
            <div class="banner-item-inset"></div>
          </div>
          <div class="banner-item publicShow delay-11">
            <div class="banner-item-inset"></div>
          </div>
          <div class="banner-item publicShow delay-12">
            <div class="banner-item-inset"></div>
          </div>
        </div>
        <div class="white mt-40 w-740 publicToTop delay-14">
          <span class="red">Svitlana Harkusha</span>
          <span>是一位乌克兰艺术家，专门从事视觉开发、环境设计和概念艺术。她的作品通过使用色彩、照明技术和构图来塑造世界和场景，帮助增强故事的氛围</span>
        </div>
        <div class="button mt-40 red-bg publicToTop delay-16" data-attr="cont6" @click="publicOpenNext">Начать путешествие</div>
      </div>
    </div>
    <!-- containerStatus6 -->
    <div class="container-6 public-mask flex-c-center publicShow" v-if="cont6">
      <div class="text-center">
        <span class="red font-big publicToTop delay-4">Аллигатор</span>
        <span class="publicToTop delay-8">{{ lastText }}</span>
      </div>
    </div>
  </div>
  <script src="./src/main.js"></script>
</body>
</html>