body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  transition: .2s;
}

@keyframes hideToTop {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, -20px);
  }
}

@keyframes hideToBottom {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 20px);
  }
}

.container#ani-end .default-img {
  opacity: 0;
  animation: hideToTop .4s;
}

.container#ani-end .button {
  opacity: 0;
  animation: hideToBottom .4s;
  animation-fill-mode: backwards;
  animation-delay: .1s;
}

.container#ani-end .title {
  opacity: 0;
  animation: hideToTop .4s;
  animation-fill-mode: backwards;
  animation-delay: .2s;
}

.container#ani-end .desc {
  opacity: 0;
  animation: hideToBottom .4s;
  animation-fill-mode: backwards;
  animation-delay: .3s;
}

.container-2 {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #151515;
}

.bottom-bar {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -100px;
  display: flex;
}

.bottom-bar .item {
  width: 220px;
  height: 300px;
  background: center center no-repeat;
  background-size: cover;
  border-radius: 20px;
  position: relative;
  transition: .3s;
  top: 0;
}

.mask-card {
  width: 220px;
  height: 300px;
  background: center center no-repeat url(./../assets/05.jpg);
  background-size: cover;
  border-radius: 20px;
  transition: .3s;
  position: fixed;
  bottom: -100px;
  left: calc(50% + 110px);
  transform: rotate(30deg);
  transform-origin: left top;
  transition: 0s;
  opacity: 0;
  z-index: -1;
}

.mask-card#true {
  opacity: 1;
}

@keyframes toTop {
  0% {
    top: 300px;
  }
  100% {
    top: 0;
  }
}

@keyframes toBottom {
  0% {
    top: 0;
  }
  100% {
    top: 300px;
  }
}

.bottom-bar .item:nth-child(1) {
  background-image: url(./../assets/03.jpg);
  transform-origin: right top;
  transform: rotate(-30deg);
  animation: toTop .6s;
  animation-fill-mode: backwards;
  animation-delay: .4s;
}

.bottom-bar .item:nth-child(1)#true {
  top: 300px;
  animation: toBottom .4s;
}

.bottom-bar .item:nth-child(2) {
  background-image: url(./../assets/04.jpg);
  box-shadow: 0 0 20px 1px rgba(0,0,0,.7);
  z-index: 2;
  animation: toTop .6s;
  animation-fill-mode: backwards;
  animation-delay: .2s;
}

.bottom-bar .item:nth-child(2)#true {
  top: 300px;
  animation: toBottom .4s;
  animation-fill-mode: backwards;
  animation-delay: .3s;
}

.bottom-bar .item:nth-child(3) {
  background-image: url(./../assets/05.jpg);
  transform-origin: left top;
  transform: rotate(30deg);
  animation: toTop .6s;
  animation-fill-mode: backwards;
  animation-delay: .6s;
}

.bottom-bar .item:nth-child(3)#true {
  transition: 0s;
  opacity: 0;
}

.w-400 {
  width: 400px;
}

.w-400 .font-big {
  animation: publicToTop .4s;
  animation-fill-mode: backwards;
  animation-delay: .7s;
}

.w-400 .font-middle {
  font-size: 16px;
  animation: publicToTop .4s;
  animation-fill-mode: backwards;
  animation-delay: .8s;
}

.w-400 .button {
  margin-top: 30px;
  animation: publicToTop .4s;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}

@keyframes maskCard {
  0% {
    width: 220px;
    height: 300px;
    transform: rotate(30deg);
    left: calc(50% + 110px);
    bottom: -100px;
    z-index: -1;
  }
  100% {
    width: 800px;
    height: 520px;
    bottom: calc(50% - 260px);
    transform: rotate(0deg);
    left: calc(50% - 400px);
    z-index: 10;
  }
}

.mask-card#true {
  left: calc(50% - 400px);
  width: 800px;
  height: 520px;
  bottom: calc(50% - 260px);
  transform: rotate(0deg);
  animation: maskCard 1s;
  animation-fill-mode: backwards;
  animation-delay: .4s;
  z-index: 10;
}

.mask-card .inset-mask {
  position: absolute;
  bottom: 0;
  font-size: 20px;
  color: #fff;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 15px;
  background-image: linear-gradient(to top, rgba(0,0,0,.5), rgba(0,0,0,0));
  border-radius: 0 0 20px 20px;
}

.container-3 {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #151515;
  z-index: 12;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.container-3 .image-list {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container-3 .image-item {
  width: 220px;
  height: 300px;
  background: center center no-repeat;
  background-size: cover;
  margin: 0 10px;
  border-radius: 10px;
}

.container-3 .image-item:nth-child(1) {
  background-image: url(./../assets/2/1.jpg);
}

.container-3 .image-item:nth-child(2) {
  background-image: url(./../assets/2/2.jpg);
}

.container-3 .image-item:nth-child(3) {
  background-image: url(./../assets/2/3.jpg);
}

.container-3 .image-item:nth-child(4) {
  background-image: url(./../assets/2/4.jpg);
}

.container-3 .text {
  width: 700px;
  margin-top: 40px;
}

.container-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #151515;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 14;
}

.j-list {
  width: 282px;
  height: 100vh;
  margin: 0 5px;
  display: flex;
  flex-wrap: wrap;
}

.j-list .j-item {
  width: 100%;
  height: 375px;
  margin-bottom: 10px;
  background: #fff center center no-repeat;
  background-size: cover;
}

.mask-bottom-text {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
  background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}

@keyframes scrollTop {
  0% {
    transform: translate(0, 0);
  }
  /* 50% {
    transform: translate(0, -100%);
  } */
  100% {
    /* transform: translate(0, 0); */
    transform: translate(0, -100%);
  }
}

@keyframes scrollBottom {
  0% {
    transform: translate(0, -100%);
  }
  /* 50% {
    transform: translate(0, 0);
  } */
  100% {
    /* transform: translate(0, -100%); */
    transform: translate(0, 0);
  }
}

.scrollTop {
  transform: translate(0, -100%);
  animation: scrollTop 12s;
  animation-fill-mode: backwards;
}

.scrollBottom {
  transform: translate(0, 0);
  animation: scrollBottom 12s;
  animation-fill-mode: backwards;
}

.delay-20 {
  animation-delay: 2s;
}

.delay-22 {
  animation-delay: 2.2s;
}

.delay-24 {
  animation-delay: 2.4s;
}

.delay-26 {
  animation-delay: 2.6s;
}

.mt-5 {
  margin-top: 5px;
}

.container-5 {
  width: 0;
  background-color: #151515;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 14;
}

@keyframes width {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.container-5.true {
  width: 100%;
  animation: width .6s;
}

.banner-list {
  width: 100%;
  height: 400px;
  display: flex;
}

@keyframes bgpos {
  0% {
    background-position: top left;
  }
  50% {
    background-position: bottom right;
  }
  100% {
    background-position: top left;
  }
}

@keyframes bgposRes {
  0% {
    background-position: bottom left;
  }
  50% {
    background-position: top right;
  }
  100% {
    background-position: bottom left;
  }
}

.banner-item {
  width: 20%;
  height: 100%;
}

.banner-item-inset {
  width: 100%;
  height: 100%;
  background: center center no-repeat;
  background-size: cover;
}

.banner-item:nth-child(odd) .banner-item-inset {
  animation: bgpos 6s infinite;
}

.banner-item:nth-child(even) .banner-item-inset {
  animation: bgposRes 6s infinite;
}

.banner-item:nth-child(1) .banner-item-inset {
  background-image: url(./../assets/4/1.jpg);
}

.banner-item:nth-child(2) .banner-item-inset {
  background-image: url(./../assets/4/2.jpg);
}

.banner-item:nth-child(3) .banner-item-inset {
  background-image: url(./../assets/4/3.jpg);
}

.banner-item:nth-child(4) .banner-item-inset {
  background-image: url(./../assets/4/4.jpg);
}

.banner-item:nth-child(5) .banner-item-inset {
  background-image: url(./../assets/4/5.jpg);
}

@keyframes height100 {
  0% {
    height: 500px;
  }
  100% {
    height: 100%;
  }
}

.w-740 {
  width: 740px;
  margin: 20px auto 0;
}

.container-6 {
  background-color: #fff;
  z-index: 15;
}